SERIAL_BUS_SERVO_UNIT/.vscode/c_cpp_properties.json
SERIAL_BUS_SERVO_UNIT/.vscode/extensions.json
SERIAL_BUS_SERVO_UNIT/.vscode/launch.json
SERIAL_BUS_SERVO_UNIT/.vscode/settings.json
SERIAL_BUS_SERVO_UNIT/.vscode/tasks.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.ninja_deps
SERIAL_BUS_SERVO_UNIT/build/Debug/.ninja_log
SERIAL_BUS_SERVO_UNIT/build/Debug/build.ninja
SERIAL_BUS_SERVO_UNIT/build/Debug/cmake_install.cmake
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeCache.txt
SERIAL_BUS_SERVO_UNIT/build/Debug/compile_commands.json
SERIAL_BUS_SERVO_UNIT/build/Debug/SERIAL_BUS_SERVO_UNIT.elf
SERIAL_BUS_SERVO_UNIT/build/Debug/SERIAL_BUS_SERVO_UNIT.map
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/query/client-vscode/query.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/cache-v2-072061089ddd7f7ea6a1.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/cmakeFiles-v1-26771ef890c1f8a58403.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/codemodel-v2-e4edf5fbb4e9292e6714.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/directory-cmake.stm32cubemx-Debug-a874d3cc84b5982fda2e.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/index-2024-11-29T15-33-18-0941.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/target-SERIAL_BUS_SERVO_UNIT-Debug-7f734f443df19930b6f9.json
SERIAL_BUS_SERVO_UNIT/build/Debug/.cmake/api/v1/reply/toolchains-v1-e6686e733307d7f5465b.json
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/cmake.check_cache
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/CMakeConfigureLog.yaml
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/rules.ninja
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/TargetDirectories.txt
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CMakeASMCompiler.cmake
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CMakeCCompiler.cmake
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CMakeCXXCompiler.cmake
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CMakeSystem.cmake
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.o
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.o
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/startup_stm32f103xb.s.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/gpio.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/main.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/stm32f1xx_hal_msp.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/stm32f1xx_it.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/syscalls.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/sysmem.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/system_stm32f1xx.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/tim.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Core/Src/usart.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_cortex.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_dma.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_exti.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash_ex.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_flash.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio_ex.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_gpio.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_pwr.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc_ex.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_rcc.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim_ex.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_tim.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal_uart.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/CMakeFiles/SERIAL_BUS_SERVO_UNIT.dir/Drivers/STM32F1xx_HAL_Driver/Src/stm32f1xx_hal.c.obj
SERIAL_BUS_SERVO_UNIT/build/Debug/cmake/stm32cubemx/cmake_install.cmake

# 忽略__pychache__文件夹
__pycache__/

# 忽略视频文件
*.mp4